# Melon 주간 차트 크롤링

In [1]:
import requests 
import pandas as pd

In [6]:
# 한빛아카데미
url = 'https://www.hanbit.co.kr/academy/'
req = requests.get(url)
html = req.text
#html

In [10]:
# 멜론 주간차트 
# header에 User-Agent 값을 주어야만 데이터를 가져올 수 있음. 
url = 'https://www.melon.com/chart/week/index.htm'
header = {'User-Agent':
            "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.77 Safari/537.36"}
req = requests.get(url, headers=header)
html = req.text
#html

In [11]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html,'html.parser')

In [ ]:
# CSS Selector로 찾기

# 1. id로 찾기
#  result = soup.select_one('#ex_id')
#  result_list = soup.select('#ex_id')
# 2. class로 찾기
#  result = soup.select_one('.ex_class')
#  result_list = soup.select('.ex_class')

In [13]:
#lst50 > td:nth-child(6) > div > div > div.ellipsis.rank02 > a
#아이디  td 여기        밑에 div밑에 div밑에 - 이다. 

#//*[@id="lst50"]/td[6]/div/div/div[2]/a

In [15]:
trs = soup.select('#lst50')
len(trs)

50

In [44]:
tr = trs[0]
#tr

In [18]:
# 순위
rank = tr.select_one('.rank').string #get.text()
rank = int(rank)

'1'

In [21]:
# 곡명 
title = tr.select_one('.ellipsis.rank01')
title = title.find('a').get_text() # a태그에서 text만 가져오기 
title

'Butter'

In [27]:
# 가수
artist =tr.select_one('.ellipsis.rank02')
artist = artist.find('a').get_text()
artist

'방탄소년단'

In [30]:
# 앨범
album = tr.select_one('.ellipsis.rank03')
album = album.find('a').string
album

'Butter'

- 이미지 속성값 가져오기

In [41]:
image = trs[0].select_one('.image_typeAll').find('img')
image= image['src']
image

'https://cdnimg.melon.co.kr/cm2/album/images/106/12/483/10612483_20210521111412_500.jpg/melon/resize/120/quality/80/optimize'

- 50곡에 대해서 데이터프레임 만들기

In [42]:
rank_list, title_list, artist_list,album_list, image_list = [], [], [],[],[]

for tr in trs:
    rank = tr.select_one('.rank').string 
    rank = int(rank)
    title = tr.select_one('.ellipsis.rank01')
    title = title.find('a').get_text() 
    artist =tr.select_one('.ellipsis.rank02')
    artist = artist.find('a').get_text()
    album = tr.select_one('.ellipsis.rank03')
    album = album.find('a').string
    image = trs[0].select_one('.image_typeAll').find('img')
    image= image['src']

    rank_list.append(rank)
    title_list.append(title)
    artist_list.append(artist)
    album_list.append(album)
    image_list.append(image)

In [43]:
df = pd.DataFrame({
    '순위': rank_list,
    '곡명': title_list,
    '가수': artist_list,
    '앨범': album_list,
    '앨범이미지': image_list
})
df.head()

,순위,곡명,가수,앨범,앨범이미지
0,1,Butter,방탄소년단,Butter,https://cdnimg.melon.co.kr/cm2/album/images/10...
1,2,Dun Dun Dance,오마이걸 (OH MY GIRL),Dear OHMYGIRL,https://cdnimg.melon.co.kr/cm2/album/images/10...
2,3,Peaches (Feat. Daniel Caesar & Giveon),Justin Bieber,Justice,https://cdnimg.melon.co.kr/cm2/album/images/10...
3,4,헤픈 우연,헤이즈 (Heize),HAPPEN,https://cdnimg.melon.co.kr/cm2/album/images/10...
4,5,롤린 (Rollin'),브레이브걸스,Rollin',https://cdnimg.melon.co.kr/cm2/album/images/10...

- 100곡 모두 가져오기

In [71]:
trs = soup.select('#lst50')
trs2 =soup.select('#lst100')
trs.extend(trs2) #extend시켜서 tr을 한번에 돌림 
len(trs)

100

In [73]:
rank_list, title_list, artist_list,album_list, image_list = [], [], [],[],[]

for tr in trs:
    rank = tr.select_one('.rank').string 
    rank = int(rank)
    title = tr.select_one('.ellipsis.rank01')
    title = title.find('a').get_text() 
    artist =tr.select_one('.ellipsis.rank02')
    artist = artist.find('a').get_text()
    album = tr.select_one('.ellipsis.rank03')
    album = album.find('a').string
    image = trs[0].select_one('.image_typeAll').find('img')
    image= image['src']

    rank_list.append(rank)
    title_list.append(title)
    artist_list.append(artist)
    album_list.append(album)
    image_list.append(image)

In [78]:
df = pd.DataFrame({
    '순위': rank_list,
    '곡명': title_list,
    '가수': artist_list,
    '앨범': album_list,
    '앨범이미지': image_list
})
df.head()

,순위,곡명,가수,앨범,앨범이미지
0,1,Butter,방탄소년단,Butter,https://cdnimg.melon.co.kr/cm2/album/images/10...
1,2,Dun Dun Dance,오마이걸 (OH MY GIRL),Dear OHMYGIRL,https://cdnimg.melon.co.kr/cm2/album/images/10...
2,3,Peaches (Feat. Daniel Caesar & Giveon),Justin Bieber,Justice,https://cdnimg.melon.co.kr/cm2/album/images/10...
3,4,헤픈 우연,헤이즈 (Heize),HAPPEN,https://cdnimg.melon.co.kr/cm2/album/images/10...
4,5,롤린 (Rollin'),브레이브걸스,Rollin',https://cdnimg.melon.co.kr/cm2/album/images/10...

- 파일에 저장하기

In [75]:
period = soup.select_one('.yyyymmdd').get_text().strip() #strip \n \t 삭제
period

'2021.05.24 ~ 2021.05.30'

In [76]:
filename = f'melon({period}).csv'
df.to_csv(filename, index =False, sep=',', encoding = 'utf8')