# python에서 MySQL 접속하기

In [2]:
import json 
import pymysql

In [3]:
with open('mysql.json','r')as file:
    config_str = file.read()
config_str

'{\n    "host":"localhost",\n    "user":"hkuser",\n    "password": "hkpass",\n    "database": "world",\n    "port":3306\n}'

In [4]:
# json parsing
config = json.loads(config_str)
config

{'host': 'localhost',
 'user': 'hkuser',
 'password': 'hkpass',
 'database': 'world',
 'port': 3306}

- connection 객체 만들기

In [6]:
conn= pymysql.connect(
    host = config['host'],
    user = config['user'],
    password = config['password'],
    database = config['database'],
    port= config['port'],
    
)

In [7]:
cur = conn.cursor()

In [9]:
sql = 'select * from team;'
cur.execute(sql)

10

In [10]:
rows = cur.fetchall()
for row in rows:
    print(row)

(51, 27, '로맥', '내야수', 1000000000)
(52, 14, '최정', '내야수', 1200000000)
(53, 17, '추신수', '외야수', 200000000)
(54, 21, '김정빈', '투수', 40000000)
(55, 20, '이재원', '포수', 1100000000)
(56, 27, '로맥', '내야수', 1000000000)
(57, 14, '최정', '내야수', 1200000000)
(58, 17, '추신수', '외야수', 200000000)
(59, 21, '김정빈', '투수', 40000000)
(60, 20, '이재원', '포수', 1100000000)

- Resource 반환

In [11]:
cur.close()
conn.close()