In [ ]:
# series 1차원
# data Frame 2차원

# Pandas

In [4]:
import pandas as pd

# 1. 시리즈(Series)

#### 데이터 프레임의 하나의 열이 시리즈
####  값 - 인덱스
####  밸류-인덱스

In [5]:
#Series 대문자라 클래스임 오퍼레이션이 메소드형태

s = pd.Series([9904312,3448738,2890451,2466052],
                index=['서울','부산','인천','대구'])
s

#인덱스라 값이 세로로 보임

서울    9904312
부산    3448738
인천    2890451
대구    2466052
dtype: int64

In [6]:
pd.Series(range(10,14))

0    10
1    11
2    12
3    13
dtype: int64

In [10]:
# 키 부분
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [9]:
# 값 부분 #어트리뷰트. 속성이라 괄호가 안붙음. 
s.values

array([9904312, 3448738, 2890451, 2466052], dtype=int64)

In [11]:
# name 속성을 이용하여 시리즈 데이터에 이름을 붙일 수 있음

s.name ='인구' # s 시리즈의 이름은 인구고
s.index.name = '도시' #값 부분의 이름은 도시
s

도시
서울    9904312
부산    3448738
인천    2890451
대구    2466052
Name: 인구, dtype: int64

- 시리즈 연산

In [12]:
s / 1000000 #연산가능

도시
서울    9.904312
부산    3.448738
인천    0.289045
대구    2.466052
Name: 인구, dtype: float64

- 시리즈 인덱싱

In [14]:
s[0], s['서울'] #두개 다 써도 됨

(9904312, 9904312)

In [14]:
#부분적인 값을 갖는 시리즈
s[[0,2]]

도시
서울    9904312
인천    2890451
Name: 인구, dtype: int64

In [18]:
s[['부산','대구']]

도시
부산    3448738
대구    2466052
Name: 인구, dtype: int64

In [19]:
s[1:3] #대구 포함x

도시
부산    3448738
인천     289045
Name: 인구, dtype: int64

In [20]:
# 문자열 라벨을 이용하면 : 뒤의 값도 포함 
s['부산':'대구'] #문자로 슬라이싱하면 마지막껏도 포함해서 출력됨

도시
부산    3448738
인천     289045
대구    2466052
Name: 인구, dtype: int64

- boolean indexing

In [15]:
s[s <3000000]

도시
인천    2890451
대구    2466052
Name: 인구, dtype: int64

- 편리한 인덱싱

In [28]:
s.서울, s.대구

(9904312, 2466052)

- 시리즈와 딕셔너리 자료형

In [29]:
'서울' in s #서울이 s데이터 안에 있니?

True

In [32]:
for k,v in s.items():
    print(f'{k} = {v}')

서울 = 9904312
부산 = 3448738
인천 = 2890451
대구 = 2466052

In [33]:
fruits = {'apple':1000, 'banana':2000, 'cherry':3000}
f = pd.Series(fruits)
f

apple     1000
banana    2000
cherry    3000
dtype: int64

## 2. 데이터 프레임 (DataFrame))

In [61]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}

df = pd.DataFrame(data)
df

      2015     2010     2005     2000   지역  2010-2015 증가율
0  9904312  9631482  9762546  9853972  수도권         0.0283
1  3448737  3393191  3512547  3655437  경상권         0.0163
2  2890451  2632035  2517680  2466338  수도권         0.0982
3  2466052  2431774  2456016  2473990  경상권         0.0141

## index => row index
## colums => column index

In [19]:
index = ['서울','부산','인천','대구'] #row 이름 붙이기 
df.index = index
df

       2015     2010     2005     2000   지역  2010-2015 증가율
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163
인천  2890451  2632035  2517680  2466338  수도권         0.0982
대구  2466052  2431774  2456016  2473990  경상권         0.0141

In [64]:
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"] #column 이름 붙이기 
df = pd.DataFrame(data, index=index, columns=columns) #정렬 data를 row를 index로 column을 columns로 
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [65]:
df.values
# 값 하나하나가 시리즈

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [66]:
df.index.name = '도시'
df.columns.name = '특성'
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [67]:
df.T # row - column 위치 바꾸기

도시                  서울       부산       인천       대구
특성
지역                 수도권      경상권      수도권      경상권
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

- 열 데이터

In [68]:
df['지역']

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [69]:
df.지역

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [70]:
# 새로운 열을 생성할 경우에는 사용할 수 없음
df.temp = [1,2,3,4]

<ipython-input-70-0558febeb87e>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.temp = [1,2,3,4]

In [71]:
df['temp'] = [1,2,3,4] #조회할땐 .찍기 가능 하지만 새로운열 같은 걸 만들 경우에는 . 못함!
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     1
부산  경상권  3448737  3393191  3512547  3655437         0.0163     2
인천  수도권  2890451  2632035  2517680  2466338         0.0982     3
대구  경상권  2466052  2431774  2456016  2473990         0.0141     4

In [72]:
df['temp']= [5,6,7,8]
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     5
부산  경상권  3448737  3393191  3512547  3655437         0.0163     6
인천  수도권  2890451  2632035  2517680  2466338         0.0982     7
대구  경상권  2466052  2431774  2456016  2473990         0.0141     8

In [73]:
del df['temp']

- 열 인덱싱

In [77]:
#하나의 열만 인덱싱하면 시리즈가 반환

df['2010'] #시리즈

도시
서울    9631482
부산    3393191
인천    2632035
대구    2431774
Name: 2010, dtype: int64

In [76]:
#리스트를 써서 인덱싱하면 데이터프레임이 반환리스트를 써서 인덱싱하면 데이터프레임이 반환

df[['2010']] #데이터프레임 #리스트

특성     2010
도시
서울  9631482
부산  3393191
인천  2632035
대구  2431774

- 행 인덱싱

In [74]:
df[:1]

# df['2010'] [행 index]
#    series    데이터

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283

In [75]:
 df['서울':'부산']

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163

- 개별 데이터 인덱싱

In [79]:
df['지역']['서울']

'수도권'

In [81]:
# 가장 보편적으로 사용됨

df['2015'][1]   # 부산

3448737

In [82]:
# 익숙해지면 이렇게 사용

df.지역[0]

'수도권'

In [61]:
df.지역.서울 #열 인덱스. 행인덱스

9904312