In [14]:
import seaborn as sns
titanic = sns.load_dataset('titanic')

import numpy as np
import pandas as pd
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
a.타이타닉호의 승객에 대해 나이와 성별에 의한 카테고리 열인 category1 열을 만드시오. category1 카테고리는 다음과 같이 정의됨
1)20살이 넘으면 성별을 그대로 사용한다.
2)20살 미만이면 성별에 관계없이 “child”라고 한다.

In [25]:
def change_age(titanic):
        return if 'child' ['age']< 20

SyntaxError: invalid syntax (<ipython-input-25-cbe4d43037b3>, line 2)

In [22]:
titanic['category1']= titanic.apply(change_age, axis=1 )

TypeError: '<' not supported between instances of 'list' and 'int'

In [10]:
titanic['adult/child'] = titanic.apply(
    lambda r:'child' if r.age >= 20 else [age])
titanic.tail()

AttributeError: 'Series' object has no attribute 'age'

In [ ]:
b.타이타닉호의 승객 중 나이를 명시하지 않은 고객은 나이를 명시한 고객의 평균 나이 값이 되도록 titanic 데이터프레임을 고치시오.

In [ ]:
c.성별, 선실(class)별, 출발지(embark_town)별 생존율을 구하시오.

In [ ]:
d.타이타닉호 승객을 ‘미성년자’, ‘청년’, ‘중년’, ‘장년’, ‘노년’ 나이 그룹으로 나누고,각 그룹별 생존율을 구하시오.

bins = [1, 20, 30, 50, 70, 100]

labels = ["미성년자", "청년", "중년", "장년", "노년"]

In [ ]:
e.qcut 명령으로 세 개의 나이 그룹을 만들고, 나이 그룹별 남녀 성비와 생존율을 구하시오.