In [1]:
import numpy as np 
import pandas as pd

# 데이터 프레임 합성

In [ ]:
# data frame
# DB Table
# 
# 두개가 겹쳐져있는 부분 a b 교집합  inner join  
# A 부분이 left outer join
# b 부분은 right outer join
# 인덱스나 컬럼명이 같은걸로 join함 
# 인덱스명을 같이가면 제일 좋음
# 없는게 nan으로 표시

In [2]:
df1 = pd.DataFrame({
    '고객번호': [1001, 1002, 1003, 1004, 1005, 1006, 1007],
    '이름': ['둘리', '도우너', '또치', '길동', '희동', '마이콜', '영희']
}, columns=['고객번호', '이름'])
df1

   고객번호   이름
0  1001   둘리
1  1002  도우너
2  1003   또치
3  1004   길동
4  1005   희동
5  1006  마이콜
6  1007   영희

In [3]:
df2 = pd.DataFrame({
    '고객번호': [1001, 1001, 1005, 1006, 1008, 1001],
    '금액': [10000, 20000, 15000, 5000, 100000, 30000]
}, columns=['고객번호', '금액'])
df2

   고객번호      금액
0  1001   10000
1  1001   20000
2  1005   15000
3  1006    5000
4  1008  100000
5  1001   30000

In [5]:
# default - inner join
pd.merge(df1,df2)

   고객번호   이름     금액
0  1001   둘리  10000
1  1001   둘리  20000
2  1001   둘리  30000
3  1005   희동  15000
4  1006  마이콜   5000

In [6]:
# left outer join
pd.merge(df1,df2,how='left')

   고객번호   이름       금액
0  1001   둘리  10000.0
1  1001   둘리  20000.0
2  1001   둘리  30000.0
3  1002  도우너      NaN
4  1003   또치      NaN
5  1004   길동      NaN
6  1005   희동  15000.0
7  1006  마이콜   5000.0
8  1007   영희      NaN

In [7]:
# full outer join
pd.merge(df1,df2, how='outer')

   고객번호   이름        금액
0  1001   둘리   10000.0
1  1001   둘리   20000.0
2  1001   둘리   30000.0
3  1002  도우너       NaN
4  1003   또치       NaN
5  1004   길동       NaN
6  1005   희동   15000.0
7  1006  마이콜    5000.0
8  1007   영희       NaN
9  1008  NaN  100000.0

- column명이 다른경우

In [27]:
df1 = pd.DataFrame({
    '고객명': ['춘향', '춘향', '몽룡'],
    '날짜': ['2018-01-01', '2018-01-02', '2018-01-01'],
    '데이터': ['20000', '30000', '100000']})
df1

  고객명          날짜     데이터
0  춘향  2018-01-01   20000
1  춘향  2018-01-02   30000
2  몽룡  2018-01-01  100000

In [28]:
df2 = pd.DataFrame({
    '고객명': ['춘향', '몽룡'],
    '데이터': ['여자', '남자']})
df2

  고객명 데이터
0  춘향  여자
1  몽룡  남자

In [10]:
pd.merge(df1,df2)

Empty DataFrame
Columns: [고객명, 날짜, 데이터]
Index: []

In [11]:
#on
pd.merge(df1,df2, on = '고객명')

  고객명          날짜   데이터_x 데이터_y
0  춘향  2018-01-01   20000    여자
1  춘향  2018-01-02   30000    여자
2  몽룡  2018-01-01  100000    남자

In [16]:
df1 = pd.DataFrame({
    '이름': ['영희', '철수', '철수'],
    '성적': [70, 80, 90]})
df1

   이름  성적
0  영희  70
1  철수  80
2  철수  90

In [17]:
df2 = pd.DataFrame({
    '성명': ['영희', '영희', '철수'],
    '성적2': [40, 50, 60]})
df2

   성명  성적2
0  영희   40
1  영희   50
2  철수   60

In [14]:
pd.merge(df1,df2,left_on ='이름',right_on ='성명')

   이름  성적  성명  성적2
0  영희  70  영희   40
1  영희  70  영희   50
2  철수  80  철수   60
3  철수  90  철수   60

- join

In [29]:
df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['고객명', '데이터'], dtype='object')

In [30]:
df1.set_index('고객번호',inplace=True)
df2.set_index('고객번호', inplace=True)

KeyError: "None of ['고객번호'] are in the columns"

In [25]:
df1.join(df2, how='inner')

ValueError: columns overlap but no suffix specified: Index(['고객명', '데이터'], dtype='object')